env/
.venv/
ENV/
venv.bak/
.env/

__pycache__/
*.py[cod]

*.log

*.egg-info/
dist/
build/
eggs/
*.egg

.idea/
.vscode/

.DS_Store
Thumbs.db

*.env

*.cover
coverage.xml
*.coveragerc
nosetests.xml
test_output/
